*.o
*.cmo
*.cmx
*.cmi
mcfgread/*.o
mcfgread/*.cmo
mcfgread/*.cmx
mcfgread/*.cmi
mcfgread/lexer.ml
mcfgread/read.ml
mcfgread/read.mli
mcfg_nt
mcfg_bc
ccpctop
parse
intersect
train
visualize
cycles
compare
findentropy
renormalize
doc
Makefile.dependencies

