*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.pdf
*.ps
*.gz
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
*.swp

# packages
*.tar

# program
maketop
simplex
matrixtop
simplextop
